label_generator.code-workspace
.gitignore
template/label 20.svg
template/label 17.svg
template/label 18.svg
template/Label 21.svg
template/Label Origin.svg

# Ignore Excel files
*.xlsx

**/.DS_Store
.aiexclude
.DS_Store
__pycache__/*.pyc
.DS_Store
font/fonts.conf
tests/
__pycache__/generate_label2.cpython-311.pyc
.gitignore
.codex/environments/environment.toml
.obsidian/
.makemd/
.space/
System document/